Fully Automated BOM Google Sheets Translation Workflow.json
{
  "name": "Fully Automated BOM Google Sheets Translation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        168
      ],
      "id": "0a477d2a-912e-4b26-8744-734b1d136bb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE",
          "mode": "list",
          "cachedResultName": "Test Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "English",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        168
      ],
      "id": "f5a65318-ee4f-4ac2-9813-e1c3d61c3bcf",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0tYTNOWlfNzHqUBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.__textToTranslate__ }}",
        "translateTo": "TR",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        896,
        168
      ],
      "id": "f85f7ced-8cee-4d0f-87e8-e40b455a922e",
      "name": "Translate a language",
      "credentials": {
        "deepLApi": {
          "id": "NLb3SH0zsROkaPm4",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $node[\"Code1\"].json;\nconst translatedText = $json.text;\nconst translatedFields = translatedText.split('\\n');\n\nconst result = {\n  \"row_number\": translatedFields[0] || original[\"row_number\"],\n  \"Item No.\": translatedFields[1] || original[\"Item No.\"],\n  \"Part Number\": translatedFields[2] || original[\"Part Number\"],\n  \"Description\": translatedFields[3] || original[\"Description\"],\n  \"Quantity\": translatedFields[4] || original[\"Quantity\"],\n  \"Unit\": translatedFields[5] || original[\"Unit\"],\n  \"Manufacturer\": translatedFields[6] || original[\"Manufacturer\"],\n  \"Reference Designator\": translatedFields[7] || original[\"Reference Designator\"]\n};\n\n// Clean up extra fields\ndelete result.text;\ndelete result.__originalFields__;\ndelete result.__textToTranslate__;\n\nreturn { json: result };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        168
      ],
      "id": "b8c3cfb8-d484-4bdf-988e-ad0723853b0e",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nconst fieldsToTranslate = [\n  data[\"row_number\"],\n  data[\"Item No.\"],\n  data[\"Part Number\"],\n  data[\"Description\"],\n  data[\"Quantity\"],\n  data[\"Unit\"],\n  data[\"Manufacturer\"],\n  data[\"Reference Designator\"]\n];\n\nconst textToTranslate = fieldsToTranslate.join(' \\n ');\n\nreturn [\n  {\n    json: {\n      ...data,\n      __originalFields__: fieldsToTranslate,  // for alignment\n      __textToTranslate__: textToTranslate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        96
      ],
      "id": "22c1a596-305f-4e81-b4ef-2efbaf9c6392",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE",
          "mode": "list",
          "cachedResultName": "Test Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 130711466,
          "mode": "list",
          "cachedResultName": "French",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NrNBci8J1MBtc105UoWLDa7q-pxIXFXR2NVXfv00nkE/edit#gid=130711466"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Item No.",
              "displayName": "Item No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Part Number",
              "displayName": "Part Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Unit",
              "displayName": "Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Manufacturer",
              "displayName": "Manufacturer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reference Designator",
              "displayName": "Reference Designator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "__originalFields__",
              "displayName": "__originalFields__",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "__textToTranslate__",
              "displayName": "__textToTranslate__",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1344,
        168
      ],
      "id": "5e361acb-cd53-48bc-b6e6-f6a086107548",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0tYTNOWlfNzHqUBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        168
      ],
      "id": "5e080e7f-4bef-463f-a832-1a2a35ba608e",
      "name": "Loop"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate a language": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Translate a language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4bf1313-2bd1-448b-ab24-f82b7c5fec2a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4aec7919e1e0c8726e098edfb39287eed2ff4960caf2920f8ad2c7da297acf68"
  },
  "id": "vV2TLJbiMlFOOPG5",
  "tags": []
}